
<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Public Library</h1>
    <span class="menu-spacer"></span>
    <span style="flex: 1 1 auto;"></span>

    <div>
      <a mat-button class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>        

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav opened mode="side">
    <mat-nav-list>
      <a *ngIf="isAdmin" mat-list-item routerLinkActive="active" routerLink="home/add-book">
        <mat-icon>add</mat-icon> Add Book
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="home/books-list">
        <mat-icon>format_list_bulleted</mat-icon> View Books
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="home/user">
        <mat-icon>account_circle_icon</mat-icon> View Users
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="home/user-history">
        <mat-icon>history</mat-icon> User History
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="home/lend-book">
        <mat-icon>library_books</mat-icon> Issue Book
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="home/reserve-book">
        <mat-icon>queue</mat-icon> Reserve Book
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="home/return-book">
        <mat-icon>assignment_return</mat-icon> Return Book
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="home/due-book">
        <mat-icon>assignment_late</mat-icon> Due Books
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
